<li id="course-<%=course.id%>" class="list-course-item row-fluid">
  <div class="span3">
    <%= link_to( image_tag(course.image_link, class: "img-medium"), course) %>
  </div>
  <div class="span9">
    <%= render partial: 'courses/course_status', locals: {course: course} %>  
    <h5><%= link_to course.full_name, course %></h5>
    <div id="provider">
      <label>Provider: </label>
      <%= course.provider.name %>
    </div>
    <% if course.universities.any? %>
      <div id="university">
        <label>University: </label>
        <% if course.universities.size == 1 %>
        <span><%= course.universities.first.name %></span>
        <% else %>
        <ul class="unstyled">
          <% course.universities.each do |u| %>
            <li><%= u.name %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    <% end %>
    <% if course.instructor %>
      <div id="instructor">  
        <label>Course Staff: </label>
        <% if !course.instructor.include?('|') %>
          <span><%= course.instructor %></span>
        <% else %>
          <ul class="unstyled">
            <% course.instructor.split('|').each do |person| %>
              <li><%= person %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <% comment = Listing.find_by_list_id_and_course_id(@list.id, course.id).description %>
      <% unless comment.nil? %>
        <div class="list-course-comment">
          <label>Comment:</label>
          <p ><%= comment %></p>
        </div>
      <% end %>

  </div>     
</li>