<!-- select a high-res image first -->
<% course2 = list.courses.find_by_provider_id(2) %>
<% course3 = list.courses.find_by_provider_id(3) %>
<% unless course2.nil? && course3.nil? %>
  <% course = course2.nil? ? course3 : course2 %>
  <%= link_to image_tag(course.image_link, alt: "course-image", class: "img-medium-large .img-center"), list %>
<% else %>
  <div class="img-container">
    <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image", class: "img-row"), list %>
    <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image", class: "img-row"), list %>
    <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image", class: "img-row"), list %>
    <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image", class: "img-row"), list %>
  </div>
  <div class="img-container">
    <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image", class: "img-row"), list %>
    <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image", class: "img-row"), list %>
    <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image", class: "img-row"), list %>
    <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image", class: "img-row"), list %>
  </div>  
<% end %>