<% provide(:title, 'List') %>
<% content_for :left do %>
  <h3>List: </h3>
  
  <div class="section-container">
<<<<<<< HEAD
	  <%= render partial: "shared/list",
				 locals: { list: @list } %>
	  <%= render partial: "shared/comment_form",
				 locals: { commentable: @list } %>
=======
    <%= render partial: "shared/list",
         locals: { list: @list } %>
    <%= render partial: "shared/comment_form",
         locals: { commentable: @list } %>
>>>>>>> upstream/master
  </div>
  
  <% if @comments.any? %>
  <%= render partial: "shared/comments",
             locals: { comments: @comments,
                       commentable: @list } %>
  <% end %>             
<% end %>

<% content_for :right do %>
  place_holder
<% end %>