<% provide(:title, 'List') %>
<% provide(:background, 'no-bg') %>

<% content_for :left do %>
  <h2>List</h2>
  <div class="row-fluid">
    <div class="span1 offset10">
      <span id="like-form-list-<%=@list.id%>">
        <% if current_user && current_user.like?(@list) %>
          <%= render partial: 'likes/unlike', locals: { likeable: @list,
                                                        icon_name: LIKED } %>
        <% else %>
          <%= render partial: 'likes/like', locals: { likeable: @list,
                                                      icon_name: LIKE } %>
        <% end %>
      </span>
    </div>
    <h3 class="span12"><%= @list.title %></h3>

    <div class="span12 list-show-info">
      <%= gravatar_for @list.user, size: 20 %>
      <%= link_to @list.user.username, @list.user %>
      <span class="muted">created</span> <%= render partial: 'shared/timestamp', locals: { post: @list } %>
      <% if current_user?(@list.user) %>
        <a href="#" rel="tooltip" data-placement="top" data-html="true" title="Add course via the</br><a class='btn btn-medium btn-primary'><i class='icon-plus icon-white'></i> add to list</a></br>button on the course page.">
          add course
        </a>
        <%= link_to "edit",   edit_list_path(@list.id) %>
        <%= link_to "delete", @list,
                    method: :delete,
                    data: { confirm: "Are you sure to delete this list?" },
                    title: @list.title %>
      <% end %>
    </div>
    <% if @list.description? %>
      <p class="span12"><%= @list.description %></p>
    <% end %>
  </div>

  <% if @courses.any? %>
  <h4><%= pluralize(@courses.count, "course") %></h4>
  <ol>
    <%= render partial: 'lists/list_course_item', collection: @courses, as: :course %>
  </ol>
  <% end %>

            
<% end %>

<% content_for :right do %>
  place_holder
<% end %>