<% provide(:title, 'List') %>


<% content_for :left do %>
  <h2>List</h2>
  <div class="section-container">
    <div class="row-fluid">
      <%= render 'list_main' %>
    </div>
    <% if @courses.any? %>
      <div class="list-courses">
        <h4><%= pluralize(@courses.count, "course") %></h4>
        <ol>
          <%= render partial: 'courses/list_course_item', collection: @courses, as: :course %>
        </ol>
      </div>
    <% end %>
  </div>        
<% end %>

<% content_for :right do %>
  <section>
    <%= render 'btn_new_list' %>
  </section>
  <section>
  <% if @comments.any? %>
    <h3>Recent Comments</h3>
    <%= link_to "View all comments »", list_comments_path(@list), { class: "view-all" } %>
    <ul class="unstyled">
      <%= render partial: 'lists/comment', collection: @comments %>
    </ul>
  <% else %>
    <%= link_to "Post a comment »", list_comments_path(@list), { class: "view-all" } %>
  <% end %>
  </section>  
  <% if @lists.any? %>
  <section>
    <h3><%= @user.username %>'s Other Lists</h3>
    <ul class="unstyled">
      <%= render partial: 'shared/post_item', collection: @lists, as: :post %>
    </ul>
  </section>
  <% end %> 
  <% if @related_lists.any? %>
  <section>
    <h3>Related Lists</h3>
    <ul class="unstyled">
      <%= render partial: 'shared/related_post_item', collection: @related_lists, as: :post %>
    </ul>
  </section>
  <% end %> 
<% end %>