<% provide(:title, 'Lists') %>
<% content_for :left do %>
  <% if @lists.any? %>
    <h2 class="inline-header">Lists Tagged with <em><%= params[:tag].capitalize if params[:tag] %></em></h2>
    <div class="pull-right"><%= render 'btn_new_list' %></div>
    <div class="section-container">
      <ul class="list-items thumbnails">
        <%= render partial: 'lists/list', collection: @lists %>
      </ul>
      <%= will_paginate @lists %>
    </div>
  <% else %>
    <h2 class="inline-header">No Lists Matched Tag <em><%= params[:tag].capitalize if params[:tag] %></em></h2>
    <div class="pull-right"><%= render 'btn_new_list' %></div>
  <% end %>
<% end %>

<% content_for :right do %>
  <h3 class="top-tags-header">Top tags:</h3>
  <ul class="unstyled top-tags-list">
    <%= render partial: 'lists/filter_tag', collection: @tags, as: :tag %>
  </ul>
<% end %>