<% provide(:title, "Log in") %>
  <div class="form-std form-login-signup">
    <h2>Please log in</h2>
    <div class="social-login">
      <div class="center login-header">Log in with Facebook</div>
      <div class="center">
        <%= link_to image_tag('f_logo.png', class: "btn-social-login"), "/auth/facebook" %>
      </div>
    </div>
    <div class="center login-header">or with your account</div>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field     :email,    placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit "Log in", class: "btn btn-medium btn-primary" %>
    <% end %>
    <p>New to <%= NAME %>? <%= link_to "Join us right now!", signup_path %></p>
    <p>Let's learn and share together!</p>
    <p id="password-help"><%= link_to 'Password help?', new_password_reset_path %></p>
  </div>