<li id="note-<%= note.id %>">
  <%= gravatar_for note.user, size: 20 %>
  <%= link_to note.user.username, note.user %>
  <%= render partial: 'shared/timestamp', locals: { post: note } %>
  <% if note.title %>
    <h4><%= note.title %></h4>
  <% end %>
  <p><%= truncate(note.body, length: 280) %></p>
</li>
