<% unless current_page? note %>
<li id="note-<%= note.id %>">
<% end %>

<div class="note-header">
<% if current_page? note.course %>
  <%= render partial: 'notes/like_form', locals: { note: note } %>
  <%= render partial: 'notes/note_info', locals: { note: note } %>
<% else %>
  <div class="note-info">
    <%= render partial: 'notes/note_info', locals: { note: note } %>
  </div>
  <div class="offset10">
    <%= render partial: 'notes/like_form', locals: { note: note } %>
    <span class="likes-count likes-count-note-<%= note.id %>">
      <%= note.likes.count %>
    </span>
  </div>
<% end %>
</div>

<div class="note-body">
  <% if note.title %>
    <h5><%= link_to note.title, note %></h5>
  <% end %>
  <% if current_page? note %>
    <p><%= simple_format(note.body) %></p>
  <% else %>
    <p><%= truncate(h(note.body), length: 200) %>
  <% end %>
</div>

<% unless current_page? note %>
</li>  
<% end %>