      <% if current_page? discussion %>
        <div class="discussion-body span10 offset1">
        <h4><%= discussion.title %></h4>
      <% else %>
        <div class="span10 discussion-summary">
        <h3><%= link_to discussion.title, discussion %></h3>
      <% end %>
      <% if current_page?(discussions_path) || current_page?(discussion) %>
        <% if current_page? discussion %>
          <p><%= simple_format(discussion.content) %></p>
        <% else %>
          <p><%= truncate(discussion.content, length: 140) %></p>
        <% end %>
      <% end %>
      <% if discussion.tag_list.any? %>
        <ul class="inline">
          <%= render partial: 'discussions/filter_tag', collection: discussion.tag_list, as: :tag %>
        </ul>
      <% end %>
      <div class="pull-right">
        <% if current_page? discussion.user %>
          <%= render partial: 'shared/timestamp', locals: { post: discussion } %>
        <% else %>
          <%= render partial: 'shared/timestamp', locals: { post: discussion } %>
          <%= render partial: "shared/small_gravatar", locals: { post: discussion } %>

          <%= link_to discussion.user.username, discussion.user %>
          <% if current_user?(discussion.user) && current_page?(discussion) %>
            <%= link_to "edit",   edit_discussion_path(discussion.id) %>
            <%= link_to "delete", discussion,
                        method: :delete,
                        data: { confirm: "Are you sure to delete this post?" },
                        title: discussion.title %>
          <% end %>
        <% end %>
      </div>
    </div>