      <% if current_page?(discussion) %>
        <div class="discussion-vote-container">
          <span class="discussion-vote like-form-discussion-<%=discussion.id%>" >
            <% if current_user && current_user.like?(discussion) %>
              <%= render partial: "likes/unlike",
                         locals: { likeable: discussion, icon_name: VOTED } %>
            <% else %>
              <%= render partial: "likes/like",
                         locals: { likeable: discussion, icon_name: VOTE_UP } %>
            <% end %>
          </span>
          <span class="likes-count likes-count-discussion-<%=discussion.id%>">
            <%= discussion.likes.count %>
          </span>
        </div>
      <% else %>
      <div class="discussion-count">
        <div class="badge badge-important">
          <i class="icon-<%= VOTE_UP %> icon-white icon-count"></i>
          <%= discussion.likes.count %>
        </div>
        <div class="badge">
          <i class="icon-comment icon-white icon-count"></i>
          <%= discussion.comment_threads.count %>
        </div>
      </div>  
      <% end %>   