<% provide(:title, "Discussion") %>

<% content_for :left do %>
  <h2>Discussion</h2>
  <div class="section-container">
    <%= render partial: "discussions/discussion", locals: { discussion: @discussion } %>
    <div class="comment-form discussion-comment-form">
      <%= render partial: "comments/comment_form", locals: { commentable: @discussion } %>
    </div>
    
    <ul class="unstyled seperate" id="discussion-<%=@discussion.id%>-comments">
      <% if @comments.any? %>
        <%= render partial: "comments/comment", collection: @comments %>
      <% end %>
    </ul>
    
  </div>
<% end %>

<% content_for :right do %>
  <section>
    <%= render 'btn_new_discussion' %>
  </section>
  <% if @posts.any? %>
  <section>
    <h3><%= @user.username %>'s Other Posts</h3>
    <ul class="unstyled">
      <%= render partial: 'shared/post_item', collection: @posts, as: :post %>
    </ul>
  </section>
  <% end %>
  <% if @related_discussions.any? %>
  <section>
    <h3>Related Discussions</h3>
    <ul class="unstyled">
      <%= render partial: 'shared/related_post_item', collection: @related_discussions, as: :post %>
    </ul>
  </section>
  <% end %>  
<% end %>