<% provide(:title, "Discussion") %>
<% provide(:background, 'no-bg') %>

<% content_for :left do %>
  <h2>Discussion</h2>
  <%= render partial: "discussions/discussion", locals: { discussion: @discussion } %>
  <div class="comment-form row-fluid">
    <div class="offset1">
      <%= render partial: "comments/comment_form", locals: { commentable: @discussion } %>
    </div>
  </div>
  <% if @comments.any? %>
    <ul class="unstyled seperate" id="discussion-<%=@discussion.id%>-comments">
      <%= render partial: "comments/comment", collection: @comments %>
    </ul>
  <% end %>
<% end %>


<% content_for :right do %>
  <%= render 'btn_new_discussion' %>
<% end %>