<% provide(:title, 'Discussions') %>
<% content_for :left do %>
  <% if @discussions.any? %>
  <div class="row-fluid">
    <h2 class="inline-header">Discussions Tagged with <em><%= params[:tag].capitalize if params[:tag] %></em></h2>
    <div class="pull-right"><%= render 'btn_new_discussion' %></div>
  </div>
    <%= render 'browse_all_discussions' %>
    <div class="section-container">
      <div class="tabbable">
        <%= render 'tabs' %>
      </div>
      <div class="tab-content">
        <%= render 'tab_content' %>
      </div>
    </div>
  <% else %>
    <div class="row-fluid">
      <h2 class="inline-header">No Discussions Matched Tag <em><%= params[:tag].capitalize if params[:tag] %></em></h2>
      <div class="pull-right"><%= render 'btn_new_discussion' %></div>
    </div>
    <%= link_to "Browse all discussions", discussions_path %>
  <% end %>  
<% end %>

<% content_for :right do %>
  <h3>Top tags:</h3>
  <ul class="unstyled top-tags-list">
    <%= render partial: 'discussions/filter_tag', collection: @tags, as: :tag %>
  </ul>
<% end %>