<% unless comment.blank? %>
<li>

<div class="row-fluid">
  <div class="span1">
    <div class="comment-vote-container">
      <%= render partial: 'comments/like_form', locals: {comment: comment} %>
      <span class="likes-count likes-count-comment-<%= comment.id %>">
        <%= comment.likes.count %>
      </span>
    </div>
  </div>

  <div class="span11 comment-body" id="comment-<%= comment.id %>">
    
    <p class="span11">
      <%= best_in_place_if current_user?(comment.user), [comment.commentable, comment], :body,
          type: :textarea, activator: "#edit-comment-#{comment.id}" %>
    </p>
    <div class="pull-right">
      <%= render partial: 'shared/small_gravatar', locals: { post: comment } %>
      <%= link_to comment.user.username, comment.user %>
      <%= render partial: 'shared/timestamp', locals: { post: comment } %>
      <% if current_user?(comment.user) %>
        <a class="edit-comment" id="edit-comment-<%= comment.id %>">edit</a>
        <%= link_to "delete", [comment.commentable, comment],
                    method: :delete,
                    remote: true,
                    data: { confirm: "Are you sure to delete this comment?" },
                    title: comment.body %>
      <% end %>
    </div>
  </div>
</div>
</li>
<% end %>