    <div class="tab-pane active" id="ongoing">
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @ongoing } %>
    </div>
    <div class="tab-pane" id="upcoming">
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @upcoming } %>
    </div>
    <div class="tab-pane" id="et">  
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @et } %>
    </div>
    <div class="tab-pane" id="ut">  
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @ut } %>
    </div>
    <div class="tab-pane" id="aut"> 
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @aut } %>
    </div>
    <div class="tab-pane" id="voluptatem">  
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @voluptatem } %>
    </div>
    <div class="tab-pane" id="qui"> 
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @qui } %>
    </div>