    <ul class="nav nav-tabs">
      <li class="active"><a href="#ongoing" data-toggle="tab">
        <div class="circle circle-ongoing"></div>ongoing</a></li>
      <li><a href="#upcoming" data-toggle="tab">
        <div class="circle circle-upcoming"></div>upcoming</a></li>
      <li><a href="#<%= @first_tag %>" data-toggle="tab"><i class="icon-tag"></i> <%= @first_tag %></a></li>
      <li><a href="#<%= @second_tag %>" data-toggle="tab"><i class="icon-tag"></i> <%= @second_tag %></a></li>
      <li><a href="#<%= @third_tag %>" data-toggle="tab"><i class="icon-tag"></i> <%= @third_tag %></a></li>
      <li><a href="#<%= @fourth_tag %>" data-toggle="tab"><i class="icon-tag"></i> <%= @fourth_tag %></a></li>
      <li><%= link_to "View all courses »", courses_path, { class: "view-all" } %></li>
    </ul>