    <div class="tab-pane active" id="ongoing">
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @ongoing } %>
    </div>
    <div class="tab-pane" id="upcoming">
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @upcoming } %>
    </div>
    <div class="tab-pane" id="<%= @first_tag %>">  
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @first_tag_courses } %>
    </div>
    <div class="tab-pane" id="<%= @second_tag %>">  
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @second_tag_courses } %>
    </div>
    <div class="tab-pane" id="<%= @third_tag %>"> 
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @third_tag_courses } %>
    </div>
    <div class="tab-pane" id="<%= @fourth_tag %>">  
      <%= render partial: "basics/popular_course_list",
                 locals: { courses: @fourth_tag_courses } %>
    </div>