<li>
  <div class="span2 muted profile-timestamp"><%= time_ago_in_words(post.created_at) %> ago</div>
  <div class="span1">
    <% if post.class.name == 'Comment' && post.commentable.class.name == 'List' %>
      Comment
    <% else %>
      <%= pluralize(post.likes.count, vote) %>
    <% end %>
  </div>
  <div class="offset3 post-body">
    <% if type == "comment" && post.commentable %>
      <%= link_to post.commentable.title, post.commentable %>
      <p><%= post.body %></p>
    <% else %>
      <%= link_to post.title, post %>
    <% end %>
    <% if type == "list" %>
      <span class="label profile-list-courses-count"><%= pluralize(post.courses.count, "course") %></span>
    <% elsif type != "comment" %>
      <p>for <em><%= post.course.full_name %></em></p>
    <% end %>
  </div>
</li>