<div class="tab-pane" id="votes">
  <div class="accordion" id="accordion2">
    <%= render 'liked_notes' %>
    <%= render 'liked_reviews' %>
    <%= render 'liked_discussions' %>
    <%= render 'liked_comments' %>
    <%= render 'liked_lists' %>   
  </div>
</div>