<% provide(:title, 'Sign up') %>
  <div class="form-std form-login-signup">
    <h2>Please sign up</h2>
    <div class="social-login">
    	<div class="center login-header">Sign up with Facebook account</div>
      <div class="center">
        <%= link_to image_tag('f_logo.png', class: "btn-social-login"), "/auth/facebook" %>
      </div>
    </div>
    <div class="center login-header">or with your email address</div>
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Join", class: "btn btn-medium btn-primary" %>
    <% end %>
    <p>Already a member? Welcome back!</p>
    <p>Please <%= link_to "log in here.", login_path %></p>
  </div>