<% if current_user %>
<div class="comment_form">
  <%= form_for([commentable, Comment.new]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :body, size: "15*7", class: "comments_form", placeholder: "Compose new comment..." %>
      <%= f.hidden_field :commentable_type, value: commentable.class.name %>
      <%= f.hidden_field :commentable_id, value: commentable.id %>
  <%= f.submit "Add comment", class: "btn btn-small btn-primary" %>
  <% end %>
</div>
<% end %>