    <div class="span11">
      <h3><%= link_to discussion.title, discussion %></h3>
      <%= render partial: 'shared/tag_list', locals: { taggable: discussion } %>
      <div class="pull-right">
        <%= render partial: 'shared/timestamp', locals: { post: discussion } %>
        <%= link_to discussion.user.username, discussion.user %>
        <% if current_user?(discussion.user) %>
          <%= link_to "edit",   edit_discussion_path(discussion.id) %>
          <%= link_to "delete", discussion,
                      method: :delete,
                      data: { confirm: "You sure?" },
                      title: discussion.title %>
        <% end %>
      </div>
    </div>