<!-- <li id="<%= list.id %>" class="span3">
  <span class="list_title"><b><%= link_to list.title, list %></b></span>
  <p class="list_desp">Description: <%= list.description %></p>
  <span class="list_info">created <%= time_ago_in_words(list.created_at) %> ago by 
    <%= link_to list.user.username, list.user %>
  </span>
  <% if current_user?(list.user) %>
    <%= link_to "edit",   edit_list_path(list)  %>
    <%= link_to "delete", list, 
                          method: :delete,
                          data: { confirm: "You sure?" },
                          title: list.title %>
  <% end %>

<% if current_page?(list) %>
  <% if list.courses.any? %>
    <h3>Courses:</h3>
    <ul class="courses">
      <%= render partial: 'shared/course', collection: list.courses %>
    </ul>
  <% else %>
    <h3>No courses in this list</h3>
  <% end %>
<% end %>
</li> -->

<li id="<%= list.id %>">
  <%= link_to list.title, list %>
    <div class="matte-media-box v3" style="-webkit-transform: rotate(-3.8294289326295257deg) 
                                    translateX(-3.4756936631165445px) translateY(-1.0878166565671563px); ">
    </div>
    <div class="matte-media-box v2" style="-webkit-transform: rotate(2.92358176689595deg)
                                    translateX(-3.502495428547263px) translateY(-5.14340062905103px); ">
    </div>
    <div class="matte-media-box">
      <%= image_tag(list.courses.sample.image_link, class: "medium-image") %>
    </div>
</li>