<li id="list_<%= list.id %>" class="span11 list-item">
  <div class="thumbnail">
    <div class="list-controll">
      <i class="icon-star-empty icon-large"></i>
    </div>
    <% unless (c = list.courses.find_by_provider_id([2,3].sample)).nil? %>
      <%= link_to image_tag(c.image_link, alt: "course image", class: ".img-medium-large"), list %>
    <% else %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course image", class: ".img-medium-large"), list %>
    <% end %>
    <div class="caption">
      <h3><%= link_to list.title, list %></h3>
      <p><%= list.description %></p>
      <% unless list.tag_list.blank? %>
        <ul class="inline">
          <% list.tag_list.each do |tag| %>
            <li class="tag-name label label-info"><%= tag%></li>
          <% end %>
        </ul>
      <% end %>
      <p class="muted list-info">created <%= time_ago_in_words(list.created_at) %> ago</p> 
      <p class="list-info"><%= gravatar_for list.user, size: 20 %> <%= link_to list.user.username, list.user %></p>
    </div>
  </div>

  <% if current_page?(list) %>
    <% if current_user?(list.user) %>
    <%= link_to "edit",   edit_list_path(list)  %>
    <%= link_to "delete", list, 
                method: :delete,
                data: { confirm: "You sure?" },
                title: list.title %>
    <% end %>

    <% if list.courses.any? %>
      <h3>Courses:</h3>
      <ul class="courses">
        <%= render partial: 'shared/course', collection: list.courses %>
      </ul>
    <% else %>
      <h3>No courses in this list</h3>
    <% end %>
  <% end %>
</li>
