  <!-- select a high-res image first -->
  <% course = list.courses.find_by_provider_id([2,3].sample) %>
  <% unless course.nil? %>
    <%= link_to image_tag(course.image_link, alt: "course-image"), list %>
  <% else %>
    <div class="small-img-container">
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
      <%= link_to image_tag(list.courses.sample.image_link, alt: "course-image"), list %>
    </div>
  <% end %>