<ul class="vote_form">
  <% if current_user && current_user.vote_for?(voteable) %>
  <li class="deletevote">
<<<<<<< HEAD
	  <%= render partial: "shared/delete_vote",
				   locals: { voteable: voteable } %>
=======
    <%= render partial: "shared/delete_vote",
           locals: { voteable: voteable } %>
>>>>>>> upstream/master
  </li>
  <% else %>
  <li class="upvote">
      <%= render partial: "shared/upvote_or_downvote",
                 locals: { voteable: voteable, vote: 1, icon: "+" } %>
  </li>
  <% end %>

  <li>
    <%= voteable.plusminus %>
  </li>

  <% if current_user && current_user.vote_against?(voteable) %>
  <li class="deletevote">
<<<<<<< HEAD
	<%= render partial: "shared/delete_vote",
=======
  <%= render partial: "shared/delete_vote",
>>>>>>> upstream/master
               locals: { voteable: voteable } %>
  </li>
  <% else %>  
  <li class="downvote">
      <%= render partial: "shared/upvote_or_downvote",
                 locals: { voteable: voteable, vote: 0, icon: "-" } %>
  </li>
  <% end %>

</ul>