<% if current_user && current_user.vote_for?(voteable) %>
<div class="vote-form">
  <span class="deletevote">
    <%= render partial: "shared/delete_vote",
           locals: { voteable: voteable } %>
  </span>
  <% else %>
  <span class="upvote">
      <%= render partial: "shared/upvote_or_downvote",
                 locals: { voteable: voteable, vote: 1, icon: "+" } %>
  </span>
  <% end %>

  <span>
    <%= voteable.plusminus %>
  </span>

<!--   <% if current_user && current_user.vote_against?(voteable) %>
  <span class="deletevote">
  <%= render partial: "shared/delete_vote",
               locals: { voteable: voteable } %>
  </span>
  <% else %>  
  <span class="downvote">
      <%= render partial: "shared/upvote_or_downvote",
                 locals: { voteable: voteable, vote: 0, icon: "-" } %>
  </span> -->
</div>  
<% end %>