<div class="btn-group pull-right" data-toggle="buttons-radio">
  <% if params[:view] == "grid" %>
    <% if params[:status] %>
      <%= link_to "/courses/tagged/#{params[:tag]}?status=#{params[:status]}", class: "btn" do %>
        <i class="icon-th-list"></i>
      <% end %>
      <%= link_to "/courses/tagged/#{params[:tag]}?status=#{params[:status]}&view=grid", class: "btn disabled" do %>
        <i class=" icon-th-large"></i>
      <% end %>
    <% else %>
      <%= link_to "/courses/tagged/#{params[:tag]}", class: "btn" do %>
        <i class="icon-th-list"></i>
      <% end %>
      <%= link_to "/courses/tagged/#{params[:tag]}?view=grid", class: "btn disabled" do %>
        <i class=" icon-th-large"></i>
      <% end %>
    <% end %>
  <% else %>
    <% if params[:status] %>
      <%= link_to "/courses/tagged/#{params[:tag]}?status=#{params[:status]}", class: "btn disabled" do %>
        <i class="icon-th-list"></i>
      <% end %>
      <%= link_to "/courses/tagged/#{params[:tag]}?status=#{params[:status]}&view=grid", class: "btn" do %>
        <i class=" icon-th-large"></i>
      <% end %>
    <% else %>
      <%= link_to "/courses/tagged/#{params[:tag]}", class: "btn disabled" do %>
        <i class="icon-th-list"></i>
      <% end %>
      <%= link_to "/courses/tagged/#{params[:tag]}?view=grid", class: "btn" do %>
        <i class=" icon-th-large"></i>
      <% end %>
    <% end %>
  <% end %>
</div>