<% provide(:title, 'Course') %>
<% provide(:background, 'no-bg') %>
<% content_for :left do %>

<div class="course">
  <%= render 'course_head' %>
  <div class="row-fluid">
    <div class="course-info span8">
      <div class="span5">
        <%= image_tag(@course.image_link) %>
        <%= link_to "Go to the course »", @course.url%>        
      </div>
      <%= render 'course_details' %>
    </div>
    <%= render 'enrollment' %>
  </div>
  <%= render 'description_and_prerequisites' %>
  <%= render 'tags' %>
  <%= render 'new_review_note' %>
  <%= render 'notes' %>
  <%= render 'reviews' %>
</div>




  <%= render partial: "shared/comment_form",
             locals: { commentable: @course } %>


<% end %>

<% content_for :right do %>
  place_holder
<% end %>