<% provide(:title, 'Course') %>
<% provide(:background, 'no-bg') %>

<% content_for :left do %>
<div class="section-container">
  <%= render 'course_header' %>
  <div class="row-fluid course-info-container course-summary">
    <div class="course-info span8">
      <div class="span5">
        <%= image_tag @course.image_link, class: "block img-course" %>
        <%= link_to "Go to the course »", @course.url, target: "_blank" %>        
      </div>
      <div class="span7" id="details">
        <%= render 'course_details' %>
      </div>
    </div>   
    <div class="span3" id="enrollment">
      <%= render 'enrollment' %>
    </div>
  </div>
  <%= render 'description_and_prerequisites' %>
  <div id="tags">
    <%= render 'tags' %>
  </div>
</div>

<%= render 'new_buttons' %>
<%= render 'notes' %>
<%= render 'reviews' %>
<% end %>

<% content_for :right do %>
  <% if @enrollments.any? %>
  <section>
    <h3>Recent Activities</h3>
    <ul class="unstyled">
      <%= render partial: 'enroll_news', collection: @enrollments, as: :enrollment %>
    </ul>
  </section>
  <% end %>
  <% if @lists.any? %>
  <section>
    <h3>Related Lists</h3>
    <ul class="unstyled seperate">
      <%= render partial: 'shared/related_post_item', collection: @lists, as: :post %>
    </ul>
  </section>
  <% end %>
<% end %>