<% provide(:title, 'Course') %>
<% provide(:background, 'no-bg') %>

<% content_for :left do %>
<div class="section-container">
  <%= render 'course_header' %>
  <div class="row-fluid course-info-container">
    <div class="course-info span8">
      <div class="span5">
        <%= image_tag @course.image_link, class: "block" %>
        <%= link_to "Go to the course »", @course.url, target: "_blank" %>        
      </div>
      <div class="span7" id="details">
        <%= render 'course_details' %>
      </div>
    </div>   
    <div class="span3" id="enrollment">
      <%= render 'enrollment' %>
    </div>
  </div>
  <%= render 'description_and_prerequisites' %>
  <div id="tags">
    <%= render 'tags' %>
  </div>
</div>

<%= render 'new_buttons' %>
<%= render 'notes' %>
<%= render 'reviews' %>
<% end %>

<% content_for :right do %>
  place_holder
<% end %>