<% provide(:title, 'Course') %>
<% content_for :left do %>
<div class="section-container">
  <%= render partial: "shared/course",
             locals: { course: @course } %>
  <%= render partial: "shared/comment_form",
             locals: { commentable: @course } %>
<div>
  <% if @course.notes.any? %>
    <%= link_to pluralize(@course.notes.count, 'note'), course_notes_path(@course) %>
  <% end %>
</div>
  <%= link_to "Write a note", new_course_note_path(@course), class: "btn btn-large btn-primary" %>

</div>
  <% if @comments.any? %>
  <%= render partial: "shared/comments",
             locals: { comments: @comments,
                       commentable: @course } %>
  <% end %>              
<% end %>

<% content_for :right do %>
  place_holder
<% end %>