<% provide(:title, 'Course') %>
<% provide(:background, 'no-bg') %>
<% content_for :left do %>

<div class="course-info-container section-container">
  <%= render 'course_header' %>
  <div class="row-fluid course-info-container">
    <div class="course-info span8">
      <div class="span5">
        <%= image_tag @course.image_link, class: "course-info-img" %>
        <%= link_to "Go to the course »", @course.url, target: "_blank" %>        
      </div>
      <%= render 'course_details' %>
    </div>
  <div id="#enroll-block">
    <%= render 'enrollment' %>
  </div>
  </div>
  <%= render 'description_and_prerequisites' %>
  <%= render 'tags' %>
</div>
  <%= render 'new_buttons' %>
  <%= render 'notes' %>
  <%= render 'reviews' %>




  <%= render partial: "shared/comment_form",
             locals: { commentable: @course } %>


<% end %>

<% content_for :right do %>
  place_holder
<% end %>