<% provide(:title, 'Courses') %>
<% content_for :left do %>
  <% if @courses.any? %>
  <div class="row-fluid">
    <h2 class="inline-header">Courses Tagged with <em><%= params[:tag] if params[:tag] %></em></h2>
    <%= render partial: 'status_select', locals: { path: url_for(controller: 'courses', action: 'tagged') } %>
    <%= render partial: 'tagged_view_select' %>
  </div>
  <%= render partial: 'browse_all_courses' %>

  <div class="section-container">
    <% if params[:view] == "grid" %>
      <ul class="course-items thumbnails">
        <%= render partial: 'courses/grid_course_item', collection: @courses, as: :course %>
      </ul>
    <% else %>
      <ul class="unstyled seperate">
        <%= render partial: 'courses/list_course_item', collection: @courses, as: :course %>
      </ul>
    <% end %>
    <%= will_paginate @courses %>
  </div>
  
  <% else %>
  <div class="row-fluid">
    <h2 class="inline-header">No Courses Tagged With <em><%= params[:tag] if params[:tag] %></em></h2>
    <%= render partial: 'status_select', locals: { path: url_for(controller: 'courses', action: 'tagged') } %>
  </div>
  <%= render partial: 'browse_all_courses' %>
  <% end %>

<% end %>

<% content_for :right do %>
  <h3>Top tags:</h3>
  <ul class="unstyled top-tags-list">
    <%= render partial: 'courses/filter_tag', collection: @tags, as: :tag %>
  </ul>
<% end %>