<% unless current_page? review %>
<li id="review-<%= review.id %>">
<% end %>

<div class="review-header">
<% if current_page? review.course %>
  <%= render partial: 'reviews/like_form', locals: { review: review } %>
  <%= render partial: 'reviews/review_info', locals: { review: review } %>
<% else %>
  <div class="review-info">
    <%= render partial: 'reviews/review_info', locals: { review: review } %>
  </div>
  <div class="offset10">
    <%= render partial: 'reviews/like_form', locals: { review: review } %>
    <span class="likes-count likes-count-review-<%= review.id %>">
      <%= review.likes.count %>
    </span>
  </div>
<% end %>
</div>

<div class="review-body">
  <% if review.title %>
    <h5><%= review.title %></h5>
  <% end %>
  <% if current_page? review %>
    <p><%= simple_format(review.body) %></p>
  <% else %>
    <p><%= raw(truncate(h(review.body),
                 length: 200,
                 omission: link_to("...read more", review))) %>
    </p>
  <% end %>
</div>

<% unless current_page? review %>
</li>  
<% end %>