<% provide(:title, 'Reviews') %>
<% content_for :left do %>
  <%= link_to "<< go back to course: " + @course.full_name,  @course %>
  <h2><%= pluralize(@reviews.count, 'review') %></h2>
  <div class="section-container">
    <ul class="unstyled seperate">
      <%= render @reviews %>
    </ul>
    <%= will_paginate @reviews %>
  </div>  
<% end %>


<% content_for :right do %>
  <%= render partial: 'courses/sidebar_course_item', locals: { course: @course } %>
<% end %>