<div id="header">
	<div id="logo"><%= link_to "Dragon", root_path, id: "logo" %></div>
	<div id="top-navigation">
	  <nav>
		<ul class="nav">
		  <li><%= link_to "Courses",     courses_path %></li>
		  <li><%= link_to "Discussions", discussions_path %></li>
		  <li><%= link_to "Lists",       lists_path %></li>
		</ul>
		<ul class="nav pull-right">
			<%= render 'layouts/search_form' %>
		  
		  <% unless logged_in? %>
			<li><%= link_to "Log in",  login_path %></li>
			<li><%= link_to "Sign up", signup_path %></li>
		  <% else %>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
		  <% end %>
		</ul>
	  </nav>
	</div>
</div>
